mixin solution
  article.solution
    .solution__wrap
      .solution__imgwrap
        img.solution__img(src="images/solution.jpg", alt="")
      h5.solution__title Tinh Bột Nghệ Cao Cấp Dicumin Là Giải Pháp Bạn Đang Tìm Kiếm
      p.solution__text #{'>>'} Chúng tôi đã giải quyết rất nhiều những trường hợp có liên quan đến thắc mắc mà bạn đang gặp phải. Trong việc trị đau dạ dày lâu năm, làm đẹp da, nám da, tang nhang, chăm sóc sức khoẻ sau sinh… Trong quá trình đó bạn cần đến sự tư vấn và hướng dẫn từ chuyên gia.
      p.solution__text #{'>>'} Dicumin có kinh nghiệm trong việc trị đau dạ dày,làm đẹp, trị nám da, tang nhang phụ nữ sau sinh. Và được đánh giá cực tốt từ khách hang.  Bởi vậy chúng tôi tự tin rằng dicumin chính là giải pháp mà bạn đang kiếm tìm.
        span.solution__btnwrap
          a.call-btn(href="#!")
            img.call-btn__img(src="images/call-btn.jpg", alt="")
