mixin problem
  article.problem
    .row
      .col-lg-6
        img.problem__img(src="images/problem-1.jpg", alt="")
        figure.problem__figure
          img.problem__figimg(src="images/problem-2.jpg", alt="")
          figcaption.problem__caption Tinh Bột Nghệ Dicumin Phân Phối tại resort 5 sao lâu đài rượi vang phan thiết bình thuận cho người dân và du khách nước Ngoài.
      .col-lg-6
        h1.problem__title Qua Quá Trình Làm Việc Với Hàng Ngàn Khách Hàng, Hầu Hết Khách Hàng Sử Dụng Tinh Bột Nghệ Dicumin Đều Gặp Phải Một Số Vấn Đề Sau:
        ul.problem__list
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Muốn Mua tinh Bột nghệ về sử dụng mà chưa biết mua ở đâu cho an toàn chất lượng và nguyên chất 100%.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Trên Thị trường có Nhiều người bán tinh bột nghệ thật giả lẫn lộn làm hoang mang.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Muốn dùng tinh bột nghệ mà sợ bị nóng và đắp mặt bị vàng da như bột nghệ.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Hàng Ngàn Khách hàng bị viêm loét dạ dày đã Điều trị kháng sinh hay sử dụng thực phẩm chức năng hoặc đi nội soi mà vẫn chưa khỏi. Và nếu khỏi thì cũng bị lại, làm mệt mỏi và ảnh hướng rất xấu tới sức khoẻ.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Mới Sinh em bé Muốn sử tinh bột nghệ để làm đẹp và chăm sóc sức Khoẻ sau sinh mà chưa Biết cách.
  article.problem.problem--pink
    .row
      .col-lg-6
        img.problem__img(src="images/problem-3.jpg", alt="")
      .col-lg-6
        h1.problem__title 2. Vấn Đề Về Làm Đẹp Và Chăm Sóc Sức Khoẻ
        ul.problem__list
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Nỗi lo về việc lão hoá da và nếp nhăn bắt đầu xuất hiện nhiều trên làn da . Mà chưa biết cách nào để ngăn lại quá trình lão hoá của cơ thể ?
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Giảm cân nhiều phương pháp mà vẫn bị tăng cân. Tự ti và chán nản, mệt mỏi mỗi khi giảm cân.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Hơn 70.000 người muốn sử dụng tinh bột nghệ để phòng chống ung thư và nâng cao sức đề kháng sức khoẻ, mà chưa biết mua tinh bột nghệ ở đâu cho chất lượng.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Muốn dùng sản phẩm từ thiên nhiên để chăm sóc da mỗi ngày.
          li.problem__item
            img.problem__arrow(src="https://s.w.org/images/core/emoji/2.3/svg/27a1.svg", alt="")
            | Bị mụn hành hạ làm cho mất tự tin mỗi khi đi ra đường và đi làm. Đi spa trị mụn thì được 3-4 tuần lại mọc lại làm bạn tốn rất nhiều tiền mà vẫn không dứt điểm được.
