mixin intro
  article.intro-1
    h1.intro-1__title Tinh Bột Nghệ
    ul.intro-1__list
      li.intro-1__desc ♦ Thần Dược Về Chống Lão Loá Da – Trị Dứt Điểm Đau Dạ Dày.
      li.intro-1__desc ♦ Trị Nám – Tàng Nhang – Chăm Sóc Sức Khoẻ Sau Sinh – Phòng Chống Ung Thư.
      li.intro-1__desc ♦ Sản Phẩm Dicumin Được Bột Y Tế Chứng Nhận
  article.intro-2
    figure.intro-2__figure
      img.intro-2__img(src="images/intro-1.jpg", alt="")
      figcaption.intro-2__caption Sản Phẩm tInh Bột Nghệ Cao Cấp Dicumin
    .intro-2__desc
      h1.intro-2__title Hãy dành ra 2 phút để cùng Dicumin tìm hiểu ?
      p.intro-2__text Mua tinh bột nghệ ở đâu cho NGUYÊN CHẤT 100 % và SỬ DỤNG HIỆU QUẢ CAO. Mà TIẾT KIỆM CHI PHÍ VÀ AN TOÀN CHO SỨC KHỎE CỦA BẠN.
  article.intro-3
    .intro-3__imgwrap
      img.intro-3__img(src="images/intro-2.jpg", alt="")
    p.intro-3__text ⇒ Tinh bột nghệ là sản phẩm từ thiên nhiên có rất nhiều tác dụng tốt cho sức khỏe như: Trị đau dạ dày, làm đẹp da, phòng chống ung thư, Trị mụn, Chống lão hóa da, làm đẹp chăm sóc sức khỏe sau sinh.
    p.intro-3__text ⇒ Khi Bạn sử dụng tinh bột nghệ mỗi ngày sẻ giúp cơ thể bạn khỏe mạnh, phòng chống ung thư, trẻ đẹp và không lo phải già.
      span.intro-3__btnwrap
        a.call-btn(href="#!")
          img.call-btn__img(src="images/call-btn.jpg", alt="")
