mixin story
  article.story
    .row
      .col-lg-6
        figure.story__figure
          img.story__img(src="images/story.jpg", alt="")
      .col-lg-6
        h4.story__title Câu chuyện chị Loan
        p.story__text Chị loan trước đây cũng vậy chị bị đau dạ dày lâu năm đi khám dung thuốc kháng sinh rất nhiều làm cho chị mệt mỏi và cơ thể gầy đi, và làn da của chị bị lão hoá do dạ dày chị bị đau và không hấp thụ tốt chất dinh dưởng. da chị ngày càng xanh xao nhợt nhạt, ăn uống không ngon miệng như trước.
        p.story__text Cứ đến bữa ăn hoặc sau khi ăn xong là chị lại sợ cảm giác đau buốt từ dạ dày chị, những cơn ợ chua làm chị khó chịu và hôi miệng là cho chị mất tự tin.
        p.story__text Trầm trọng nhất là giai đoạn vừa mang thai bé na vừa ốm nghén làm cho chị na không ăn được cơn đau lại càng khó chịu hơn. Da chị lại càng xấu hơn. Sinh xong cơ thể chị bị máu xấu tinh tụ nhiều.
        p.story__text Chị Biết đến tinh bột nghệ Dicumin và dùng sau 2 tháng thì chị hết đau dạ dày và da chị sáng hơn. Ai cũng bảo “con loan sao bữa này trẻ ra thế”.
        p.story__text Chị cũng ngạc nhiên khi tinh bột nghệ Dicumin có nhiều tác dụng với chị như vậy.
