$white: #ffffff;
$white-smoke: #f4f4f4;
$black: #000000;
$black-lighter: #222222;
$black-lighten: #303030;
$black-lightest: #444444;
$gray-border: #e1e1e1;
$gray: #666666;
$gray-lighter: #9a9a9a;
$grey: #d3d3d3;
$grey-lighten: #eeeeee;
$grey-lightest: #efefef;
$yellow-darker: #dddd1f;
$pink-lightest: #f9f2ec;
$orange: #ffcd30;
$orange-light: #ff9900;
$orange-lighter: #f09d0e;
$orange-darker: #fbaf17;
$orange-darken: #fb6600;
$orange-darkest: #d68100;
$orange-line: #F7BE68;
$brown: #6d5348;
$green: #008000;
