mixin question
  section.questions
    h1.questions__title Bạn có thắc mắc về Dicumin ?
    ul.question-list
      li.question-list__item
        span.question.js-question 1. Sử dụng Dicumin như thế nào?
        .answer.js-answer
          p.answer__text
            strong ⇒ Làm đẹp:
            |  Uống + Đắp mặt nạ và tẩy tế bào chết.
          p.answer__text + Uống : Ngày 2 lần , sáng tối, sau ăn 30 phút = 1 thìa tinh bột nghệ + 1thìa mật ong (sữa đặc, sữa tươi) + 150ml nước ấm 30-40 độ.
          p.answer__text + Đắp mặt : Tuần 3 lần, Mỗi lần 20 phút = 1thìa tinh bột nghệ + 1thìa mật ong + 1 thìa sữa chua không đường.
          p.answer__text
            strong ⇒ Đau dạ dày, tốt cho sức khoẻ :
            |  Uống Ngày 2 lần , sáng tối, sau ăn 30 phút = 1 thìa tinh bột nghệ + 1thìa mật ong (hoặc sữa đặc, sữa tươi) + 150ml nước ấm 30-40 độ.
      li.question-list__item
        span.question.js-question 2. Ai có thể sử dụng sản phẩm Tinh Bột Nghệ Dicumin
        .answer.js-answer
          p.answer__text + Bạn đang bị đau dạ dày lâu năm
          p.answer__text + Mới sinh em bé xong, chưa lấy lại vóc dáng
          p.answer__text + Da bạn đang xấu, bị mụn, nám da, tàng nhang
          p.answer__text + Sức đề kháng cơ thể yếu, hay ôm đau
          p.answer__text + Viêm khớp đang hàng dạ mỗi ngày…
      li.question-list__item
        span.question.js-question 3. Bạn ở tỉnh mua Tinh Bột Nghệ Dicumin ở đâu?
        .answer.js-answer
          p.answer__text Bạn chỉ cần để lại thông tin vào Form đăng ký, nhân viên chăm sóc khách hàng của Dicumin sẽ liên hệ ngay với bạn để tư vấn. Và sau đó giao hàng cho bạn trong 2-3 ngày, thanh toán khi nhận hàng.
      li.question-list__item
        span.question.js-question 4. Cách Phân Biệt Tinh Bột Nghệ Nguyên Chất Và Pha Trộn
        .answer.js-answer
          p.answer__text
            strong Cách 1: Xem màu sắc :
            |  Tinh bột nghệ nguyên chất có màu
            strong  vàng tươi hoa cúc
            |  (không phải nhợt nhạt như làm thủ công)
          p.answer__text
            strong Cách 2: Thử với nước pha bột giặt:
            |  Tinh bột nghệ cho vào nước pha bột giặt sẽ chuyển màu Đỏ (do chất Curcumin trong tinh bột nghệ phản ứng với kiềm).
          p.answer__text
            strong Cách 3: Thử với lòng đỏ trứng và chanh:
            |  Khi Pha tinh bột nghệ với lòng đỏ trứng gà, Nó sẻ chuyển sang màu vàng cam và sệt sệt. Bạn cho thêm 1 thìa nước cốt chanh nó sẻ chuyển qua màu vàng đặc trưng như ban đầu.
            br
            | ⇒ Tinh bột nghệ pha tạp chất hoặc không biết cách làm khi cho vào bột giặt nó sẻ chuyển màu đục. Khi mình dùng sẻ ảnh hưởng không tốt tới sức khoẻ
      li.question-list__item
        span.question.js-question 5. Ai Không Nên Sử Dụng Tinh Bột Nghệ
        .answer.js-answer
          p.answer__text > Những ai bị rong kinh nguyệt lâu ngày.
          p.answer__text > Người bị sỏi thận hạn chế sử dụng.
          p.answer__text > Những ai bị bệnh liên quan đến túi mật.
          p.answer__text > Bạn sắm mổ, Hoặc uống thuốc chống đông máu.
          p.answer__text > Phụ nữ đang mang thai Không nên uống tinh bột nghệ sẻ làm kích thích co bóp cổ tử cung. Chỉ nên đắp mặt làm đẹp da bên ngoài, Sinh Xong 1 tuần rồi sử dụng.
    .questions__buybtnwrap
      a.buy-btn(href="#!") Đặt mua ngay
    .questions__callbtnwrap
      a.call-btn(href="#!")
