mixin feature
  article.feature
    figure.feature-fig
      img.feature-fig__img(src="images/feature-1.jpg", alt="")
      figcaption.feature-fig__caption Sản phẩm tinh bột nghệ Dicumin Phân Phối tại các hiệu thuốc
    section
      .feature__header
        h1.feature__title Tuy Nhiên bạn Đang còn Những nỗi lo sau nên chưa sử dụng tinh bột nghệ
      .row
        .col-lg-6
          ul.worries
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Bạn sợ uống tinh bột nghệ sẻ đắng và hắc nên chưa dám sử dụng !
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Đau dạ dày thì uống tinh bột nghệ có khỏi không ?
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Bạn chưa có kinh nghiệm mua tinh bột nghệ nên không biết mua ở đâu đảm bảo nguyên chất 100%.
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Bạn sợ mua phải tinh bột nghệ giả, hàng pha trộn về sử dụng làm cho tiền mất tật mang !
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Bạn sử dụng tinh bột nghệ nhiều nơi mà không thấy hiệu quả ?
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Không biết uống tinh bột nghệ có ảnh hưởng chất lượng sữa và bé không ?
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Chọn loại tinh bột nghệ nào cho sử dụng an toàn hiệu quả và giá cả hợp lý đây ?
            li.worries__item
              img.worries__liststyle(src="https://s.w.org/images/core/emoji/2.3/svg/1f4e3.svg", alt="")
              | Nên mua tinh bột nghệ nhà làm hay là công ty ?
        .col-lg-6
          img.worries-img(src="images/feature-2.jpg", alt="")
    section.feature-commitment
      .feature__header
        h1.feature__title Đặc biệt Dicumin là sản phẩm tinh bột nghệ  duy nhất trên Thị trường dám cam kết là:
      ul.commitment
        li.commitment__item + Đã lọc sạch chất xơ nhựa nghệ dầu nóng.
        li.commitment__item + Bạn sẽ đền gấp 10 số tiền đã mua nếu phát hiện tinh bột nghệ Dicumin không nguyên chất.
        li.commitment__item + Sản xuất bằng công nghệ cao kép kín.
        li.commitment__item + Hàm lượng curcumin cao
        li.commitment__item + Giấy chứng nhận y tế
        li.commitment__item + Hoàn tiền 200% nếu không hài lòng sau thời gian sử dụng.
        li.commitment__item + Là giải pháp làm đẹp chăm sóc sức khoẻ an toàn cho bạn
      .commitment-callbtn
        a.call-btn(href="#!")
          img.call-btn__img(src="images/call-btn.jpg", alt="")
    section.reason
      .feature__header.feature__header--darker
        h1.feature__title Đây là lý do vì sao bạn nên mua tinh bột nghệ Dicumin để sử dụng làm đẹp và chăm sóc sức khỏe.
      .row.reason__row1
        .col-lg-6
          h1.reason__title 1. Vùng Nguyên Liệu Sạch
          p.reason__text Nguyên Liêu được trồng trên đất nghệ an và hưng yên theo tiêu chuẩn xuất, Nên cho ra củ nghệ với hàm lượng curucmin cao nhất.
          img.reason__img(src="images/material.jpg", alt="")
        .col-lg-6
          h1.reason__title 2. Củ Nghệ Được Tuyển Chọn Khắt Khe.
          p.reason__text Dicumin chỉ tuyển chọn những củ nghệ đủ tiêu chuẩn.
          img.reason__img(src="images/turmeric.jpg", alt="")
      .row.reason__row2
        .col-lg-6
          h1.reason__title 3. Quy Trình Sản Xuất Khép Kín
          p.reason__text Đây là toàn bộ quy trình sản xuất tinh bột nghệ Dicumin.  Từ củ nghệ cho đến khi ra thành phẩm đều kép kín.
          img.reason__img(src="images/proceduce.jpg", alt="")
        .col-lg-6
          h1.reason__title 4. Bao Bì tráng bạc nhằm giúp Bảo quản Tinh Bột Nghệ Tốt nhất
          img.reason__img(src="images/package.jpg", alt="")
          .reason__caption Sản phẩm tinh bột nghệ cao cấp Dicumin
      .row.reason__row3
        .col-lg-6
          h1.reason__title 5. Giây Chuyền Sản Xuất Bằng công Nghệ Hiện Đại.
          p.reason__text Tại Dicumin, tinh bột nghệ được sản trên dây chuyền hiện đại công nghệ khép kín. Điều này giúp làm cho chất lượng sản phẩm tốt hơn và giữ được hàm lượng curucmin cao hơn so với làm thủ công. Và đảm bảo vệ sinh an toàn thực phẩm.
          p.reason__text Máy móc của tinh bột nghệ Dicumin tiêu biểu như:
          ol.machines-list
            li.machines-list__item Máy Xay bột siêu mịn
            li.machines-list__item Máy lọc tinh dầu và chất xơ.
            li.machines-list__item Máy sấy tinh bột nghệ.
            li.machines-list__item Máy đóng gói.
          p.reason__text
            span ⇒
            |  Quá trình sản xuất luôn được giám sát bởi dược sỹ chuyên nghành nhằm cho ra sản phẩm chất lượng tinh bột nghệ đồng đều nhất trước khi đến tay người tiêu dùng.
        .col-lg-6
          img.reason__img(src="images/production.jpg", alt="")
