mixin sale
  article.sale
    h1.sale__title KHUYẾN MÃI LỚN TRONG TUẦN NÀY CHỈ 49 SUẤT GIẢM GIÁ 25 %
    .sale__btnwrap
      a.call-btn(href="#!")
        img.call-btn__img(src="images/call-btn.jpg", alt="")
    .price-wrap
      .price
        strong.price__mass #{'>>'} 500g :
        del.price__old Giá cũ 520k
        span.price__arrow ⇒
        span.price__compare Giảm còn
        span.price__new 390K
      .price
        strong.price__mass #{'>>'} 1kg :
        del.price__old Giá cũ 975k
        span.price__arrow ⇒
        span.price__compare Giảm còn
        span.price__new 730K
    .sale__buywrap
      a.buy-btn(href="#!") Đặt mua ngay
    ul.advice
      li.advice__item 〉Chỉ cần đầu tư khoảng 9,000 đồng/ngày tương đương ăn thêm 1 cái bánh mì mỗi ngày bạn sẻ có cơ thể khoẻ mạnh, hết đau dạ dày và trẻ đẹp hơn. Không cần phải sử dụng những thực phẩm chức năng, thuốc bổ nhập ngoại, mỹ phẩm colagen đắt tiền mà hiệu quả không thấy đâu.
      li.advice__item 〉Trên thị trường tràn lan những tinh bột nghệ không rõ nguồn gốc, xuất xứ, chất lượng không đảm bảo, ảnh hưởng sức khỏe bạn nên cẩn thận chọn lọc kĩ lưỡng.
      li.advice__item 〉Chọn DICUMIN bạn sẽ hoàn toàn không lo lắng đến vấn tinh bột nghệ bị pha trộn, còn dầu nghệ, đắng hắc khó sử dụng.
    .row.sale-intro
      .col-md-6
        img.sale-intro__img(src="images/sale.jpg", alt="")
      .col-md-6
        p.sale-intro__text
          span.sale-intro__arrow ⇒
          | Không còn phải Lo Lắng về những cơn đau dạ dày hành hạ mỗi ngày. Bạn sẽ có được cảm giác sung sướng khi diện đồ nào cũng đẹp, gương mặt thì hết mụn, nám da sạm da và rạng rỡ.
        p.sale-intro__text
          span.sale-intro__arrow ⇒
          | Vì thế bạn có cơ thể khoẻ mạnh hơn đẹp hơn mà tự tin giao tiếp hơn hẳn nên chẳng mấy chốc tìm được người yêu, công việc thì thăng tiến. Còn chần chờ gì nữa mà không đặt hàng ngay.
        .sale-intro__btnwrap
          a.buy-btn(href="#!") Đặt Mua Ngay
