.questions {
  padding: 30px 0 77px;
  margin: 0 24px;
  &__title {
    font-family: $roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: $orange-light;
    text-align: center;
    margin-bottom: 35px;
  }
  &__buybtnwrap {
    text-align: center;
    margin-bottom: 22px
  }
  &__callbtnwrap {
    text-align: center;
  }
}
.question-list {
  border: 1px solid $grey;
  margin: 0 24px 22px;
  background-color: $grey-lightest;
  border-radius: 4px;
  overflow: hidden;
  &__item {
    border-bottom: 1px solid $grey;
    &:last-child {
      border-bottom: 0;
    }
  }
}
.question {
  display: block;
  cursor: pointer;
  font-family: $roboto;
  font-size: 19px;
  line-height: 19px;
  color: $gray;
  padding: 14px 20px;
  &:hover {
    background-color: $grey;
    transition: background-color .3s;
  }
  &::before {
    content: '+';
    display: inline-block;
    width: 12px;
    text-align: center;
    margin-right: 14px;
  }
  &.active {
    &:hover {
      background-color: inherit;
    }
    &::before {
      content: '-';
    }
  }
}
.answer {
  display: none;
  padding: 14px 20px;
  border-top: 1px solid $grey;
  &__text {
    margin-bottom: 26px;
  }
}
