mixin header
  header.header
    .top-page
      a.login(href="#!") Đăng nhập/Đăng ký
      ul.social
        li.social__item
          a.social__link(href="#!")
            i.social__icon.fa.fa-facebook
        li.social__item
          a.social__link(href="#!")
            i.social__icon.fa.fa-instagram
        li.social__item
          a.social__link(href="#!")
            i.social__icon.fa.fa-twitter
        li.social__item
          a.social__link(href="#!")
            i.social__icon.fa.fa-youtube-play
    .banner
      img.banner__img(src="images/banner.jpg", alt="banner")
