include modules/head/head
include modules/header/header
include modules/nav/nav
include modules/footer/footer

doctype html
html
  +head
  body
    .page-wrapper
      +header
      +nav(menu)
      +footer(data)
    script(src="js/main.js")
