include modules/head/head
include modules/header/header
include modules/nav/nav
include modules/footer/footer
include modules/intro/intro
include modules/problem/problem
include modules/solution/solution
include modules/story/story
include modules/customer/customer
include modules/feature/feature
include modules/sale/sale
include modules/testimonials/testimonials

doctype html
html
  +head
  body
    .page-wrapper
      +header
      +nav(menu)
      +intro
      +problem
      +solution
      +story
      +customer
      +feature
      +sale
      +testimonials(testimonials)
      +footer(footer)
    script(src="js/main.js")
