mixin customer
  article.customer
    .row
      .col-lg-6
        img.customer__img(src="images/customer.jpg", alt="")
      .col-lg-6
        h1.customer__number 43.000 Khách Hàng
        h1.customer__title Sử Dụng Tinh Bột Nghệ Dicumin Đã 
        ul.customer__list
          li.customer__item ♦ Hết đau dạ dày.
          li.customer__item ♦ Cơ thể Trẻ Đẹp Hơn.
          li.customer__item ♦ Ngủ <strong>ngon hơn</strong>, ăn <strong>ngon hơn</strong>
          li.customer__item ♦ Hết nám da, sạm da, tàng nhang.
          li.customer__item ♦ Phụ nữ sau sinh trẻ đẹp hơn.
          li.customer__item ♦ Giảm cân lấy lại được vóc dáng thon gọn.
          li.customer__item ♦ Hết viêm viêm khớp nâng cao đề kháng sức khoẻ.
